@import "node_modules/react-image-gallery/styles/css/image-gallery.css";

.map {
  position: relative !important;
  width: 75% !important;
  height: 500px !important;
  margin-bottom: 50px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border: solid 1px;
}

.img-responsive{
  max-width: 35%;
  margin: 0 auto;
}

.background{
  min-height: 100vh;
  max-height: 100%;
  background-color: rgb(56,212,17);
}

.navbar{
  background-color: green;
  margin-bottom: 0;
  border: 0;
  font-family: Cambria, Georgia, serif;
  font-size: 14pt;
  color: white;
}

.pages{
  font-size: 14pt;
  flex: 100%;
  font-family: Cambria, Georgia, serif;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 7%;
  padding-right: 2%;
}

.mainContainer{
  background-color: white !important;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  max-height: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
}

h1,h2{
  font-family: maiandra;
  color: rgb(138, 184, 51);
}

@font-face {
  font-family: maiandra;
  src: url(Maiandra-GD_29342.ttf);
}

.bottomPanel{
  background-color: green;
  display: block;
}

.navbar-default a:hover{
  background-color: green !important;
}

.navbar-nav>.open>a{
  border: 0;
  background-color: green !important;
}

.navbar a{
  color: white !important;
}

.nav-tabs.nav-justified>li>a{
  border-bottom: 0 !important;
}

.nav-tabs a:hover{
  color: rgb(56,212,17) !important;
  border: 0;
}

.dropdown-menu{
  background-color: green;
  color: white;
  font-size: 14pt;
  text-align: center;
}

.row-centered{
  text-align: center;
  align-items: center;
  display: flex;
}
.col-centered {
    display: inline-block;
    float:none;
    /* reset the text-align */
    text-align: center;
    /* inline-block space fix */
    margin: 0 auto;
    align-items: center;
}
.thumbnail{
    border: 0 none;
    box-shadow: none;
    margin: 0 auto ;
    cursor: pointer;
}
